* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

/* nav */

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

nav {

    background-color: rgb(43, 41, 41);
    width: 13rem;
    height: 100vh;
    transition: all 1s;
    position: absolute;

}


.sidebar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 1.8rem;
}

header button {
    font-size: 1rem;
    top: 1rem;
    left: 0.5rem;
    padding: 8px 12px;
    border: none;
    color: white;
    background-color: rgb(51, 48, 48);
    box-shadow: 0 0 5px white;
    border-radius: 2rem;
    border-style: inset;
    position: absolute;
    transition: color, background-color 1s;
}


header button:hover {
    color: orangered;
    cursor: pointer;
    background-color: rgb(210, 199, 199);
}

.btn-cross {
    position: absolute;
    left: 10rem;
    z-index: 11;
    cursor: pointer;
}

.sidebar {
    padding-top: 5rem;
}

.hidden {
    display: none;
    transition: all 1s;
}


.nav-con {
    margin: .6rem 0;
    border-radius: 8px;
    text-shadow: 0 0 2px rgb(255, 119, 0);
    /* border-color: orangered; */
    padding: .8rem;
}

.nav-btn {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(230, 71, 9);
    transition: margin 1s;
}

.nav-btn:hover {
    margin-left: 1.5rem;
    cursor: pointer;
}


/* section 1  */

.sec-1 {
    /* background-image: url(./images/img2.jpg); */
    background-image: url(https://i.pinimg.com/736x/1c/9e/29/1c9e2907f354c4ec2ea575e21cfb2343.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.sec-1-con-1 {
    position: relative;
    /* left: -20rem; */
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    color: rgb(138, 126, 122);
    text-shadow: 0 0 1px white;
    /* animation-name: sec-1-h1; */
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: ease-out;

}

@keyframes sec-1-h1 {
    from {
        position: relative;
        left: -20rem;
        transform: rotate(.1turn);
    }

    to {
        transform: rotate(0turn);
        left: 0rem;
    }
}

.sec-1-h1 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    letter-spacing: 5px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 0 0 10px rgb(255, 120, 9);
    padding-bottom: 1rem;

}


.sec-1-h1-span {
    color: white;
    background-color: orangered;
    border-radius: 2rem;
    padding: 0 1rem .3rem 1rem;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.sec-1-para {
    font-size: 2rem;
    padding-bottom: 2rem;
    font-family: 'Edu QLD Beginner', cursive;
    color: orange;
    text-shadow: 0 0 2px white;
}

.sec-1-line1 {
    position: absolute;
    left: 20vw;
    height: 100vh;
    width: 1px;
    box-shadow: 5px 0px 5px rgb(255, 98, 1);
}

.sec-1-dot1 {
    position: absolute;
    top: 0;
    background-color: orangered;
    height: 20px;
    width: 5px;
    animation: sec-1-dot1 15s linear 0s infinite;
    box-shadow: 5px 5px 10px rgb(255, 98, 1);
}

.sec-1-line2 {
    position: absolute;
    left: 40vw;
    height: 100vh;
    width: 1px;


    box-shadow: 5px 0px 5px rgb(255, 98, 1);
}

.sec-1-dot2 {
    position: absolute;
    top: -5rem;
    background-color: orangered;
    height: 20px;
    width: 5px;
    animation: sec-1-dot1 15s linear 2s infinite;
    box-shadow: 5px 5px 10px rgb(255, 98, 1);
}

.sec-1-line3 {
    position: absolute;
    left: 60vw;
    height: 100vh;
    width: 1px;


    box-shadow: 5px 0px 5px rgb(255, 98, 1);
}

.sec-1-dot3 {
    position: absolute;
    top: -5rem;
    background-color: orangered;
    height: 20px;
    width: 5px;
    animation: sec-1-dot1 15s linear 4s infinite;
    box-shadow: 5px 5px 10px rgb(255, 98, 1);
}

.sec-1-line4 {
    position: absolute;
    left: 80vw;
    height: 100vh;
    width: 1px;

    box-shadow: 5px 0px 5px rgb(255, 98, 1);
}

.sec-1-dot4 {
    position: absolute;
    top: -5rem;
    background-color: orangered;
    height: 20px;
    width: 5px;
    animation: sec-1-dot1 15s linear 5s infinite;
    box-shadow: 5px 5px 10px rgb(255, 98, 1);
}

@keyframes sec-1-dot1 {
    0% {
        top: 0
    }

    50% {
        top: 97vh
    }

    100% {
        top: 0;
    }
}

/* section1 buttons  */

.sec-1-btn {
    padding-top: 2rem;
}

.sec-1-btn .btn {
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    margin-inline: .5rem;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(234, 71, 12);
    color: white;
}

.sec-1-btn .btn:hover {
    background-color: white;
    color: orangered;
    cursor: pointer;
}

/* fee info section sec-2  */

#sec-2 {
    /* background-image: url(https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    /* background-color: rgb(217, 212, 212); */
    background-image: radial-gradient(rgb(255, 255, 255), rgb(186, 185, 185));
    display: grid;
    background-size: cover;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 5rem; */
    padding: 3rem;
    padding-inline: 0;
    margin-inline: 0;
    /* margin-inline: max(2vw, 2rem); */
    /* column-gap: 4px; */
    justify-items: center;
}

.payment-card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-width: 2px;
    border-style: solid;
    /* margin-inline: 5rem; */
    border-color: orangered;
    border-radius: 1rem;
    /* margin-inline: auto; */
    background-image: radial-gradient(rgb(255, 255, 255), rgb(240, 151, 103));
    box-shadow: 10px 10px 25px black;
}

.payment-card h4 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.payment-card h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.payment-card h3 {
    font-size: 1.5rem;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Dancing Script', cursive;
    padding: .5vw 0;

}

.payment-card ul {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding: 1.4rem;
    padding-left: 2rem;

}

.sec-2-btn {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    padding-inline: 1rem;
    border-radius: 2rem;
    background-color: orangered;
    color: white;
    margin-inline: 5rem;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.sec-2-btn:hover {
    background-color: white;
    color: orangered;
    border-color: orangered;
    cursor: pointer;
}


@media (max-width:915px) and (min-width:600px) {
    #sec-2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        row-gap: 3vh;
    }

    .card-3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width:600px) {
    #sec-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 3vh;
    }
}

.sec-2-note {
    color: rgb(55, 54, 54);
    padding-top: 3rem;
    padding-inline: 1rem;
    margin-left: 1rem;
    font-size: 1.1rem;
}


/* background-image: url(https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */

/* equipments section  */

/* .sec-3 {
    display: grid;
    position: absolute;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(158, 153, 150));
    width: 80vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 15;
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340%;
    backdrop-filter: blur(3px);
    z-index: 5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.modal {
    background-image: radial-gradient(rgb(255, 255, 255), rgb(121, 118, 116));
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvO-N2rtph7v2KV2dCcqswul7zSBMlUgT_Kw&usqp=CAU); */
    color: black;
    background-size: cover;
    width: 80vw;
    height: auto;
    /* padding: 5rem 2rem 2rem 2rem; */
    align-self: center;
    position: absolute;
    border-radius: 1rem;
    top: 10vh;
    z-index: 10;
    border-style: inset;
    border-width: 1px;
    border-color: rgb(255, 108, 4);
    box-shadow: 0px 0px 10px rgb(228, 132, 97);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem repeat(4, 12rem);
    row-gap: 2px;
    column-gap: 2px;

}

.sec-3-heading {
    font-size: 2rem;
    grid-column-start: 1;
    grid-column-end: 3;
    /* align-self: center; */
    justify-self: center;
    padding: 1rem;
    font-family: 'Indie Flower', cursive;
    letter-spacing: .2rem;
}

.sec-3-item {
    border-radius: 1rem;
    box-shadow: 5px 5px 15px black;
    margin: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-image: radial-gradient(rgb(255, 255, 255), rgb(230, 130, 73));

}

.sec-3-item-img {
    width: 8rem;
    height: 8rem;
    padding: .5rem;
    margin-top: 1rem;
}

.sec-3-item .detail {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2rem;
}

@media (max-width:800px) {
    .modal {
        width: 20rem;
        grid-template-columns: 1fr;
        grid-template-rows: 5rem repeat(8, 10rem);
    }

    .sec-3-heading {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .sec-3-item-img {
        width: 5rem;
        height: 5rem;
    }

}

.btn-cross-modal {
    color: white;
    background-color: rgb(240, 75, 20);
    border: none;
    border-style: inset;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 2rem;
    position: fixed;
    top: 1rem;
    left: .5rem;
    z-index: 15;
    box-shadow: 0 0 15px rgb(192, 186, 186);
}

.btn-cross-modal:hover {
    color: rgb(240, 75, 20);
    background-color: white;
}


/* section 4 exercises */
.sec-4 {
    width: 100vw;
    height: 60vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXLHYEyaGUQ_29wFVfDitlGbXIfEXjWo051A7TwHr3Pows9Azw_YzwBUkWyMLqkXd57Kc&usqp=CAU);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.exercises-btn {
    margin-top: 2rem;
    padding: .4rem 2.2rem;
    font-size: 2rem;
    border-radius: 2rem;
    color: white;
    background-color: orangered;

}

.exercises-btn:hover {
    color: orangered;
    background-color: white;
    cursor: pointer;
}


/* section - 5 */


.sec-5 {
    /* display: flex;
    justify-items: center;
    justify-content: center; */
    width: 100vw;
    height: Auto;
    background-color: rgb(228, 218, 218);
    padding: 5rem 0;
    /* padding: 4rem 4rem; */
    font-family: 'Poppins', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    padding-left: 2rem;

}


.sec-5 h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



.information li {
    padding-bottom: .2rem;
    margin-left: 1rem;
}

.information li:hover {
    color: orangered;
    cursor: pointer;
}

.followMe i {
    font-size: 1.8rem;
    padding-right: 1.5rem;
}

.followMe i:hover {
    color: orangered;
    cursor: pointer;
}


@media (max-width:650px) and (min-width:500px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 13rem);
        row-gap: 4rem;
    }

    .followMe {
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        justify-self: center;
    }
}

@media (max-width:500px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 13rem);
        grid-template-rows: repeat(3, 6rem);
        row-gap: 4rem;
    }

    .followMe {
        padding-top: 3rem;
    }
}


.hidden {
    display: none;
    transition: all 1s;
}